---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="flex items-top justify-between">
		<h1>Mister</h1>
		<p>Shaping products, services and the future of your brand</p>
		<a href="/information">Information</a>
	</header>
	<main class="flex items-center justify-center grow">
		<div class="aspect-video bg-black w-1/2"></div>
	</main>
	<footer class="flex items-bottom justify-between">
		<a href="#">Credentials</a>
		<p>
			184 Websites, 156 Logos, 25 Apps, 48 Brand Identities, 5 Books and 7
			Totebags
		</p>
		<a href="#">hello@mister.studio</a>
	</footer>
</Layout>
