{% embed "_layout.twig" with {
	containerClasses: 'space-y-60',
} %}
	{% block startBody %}
		{% if craft.app.config.general.devMode %}<!-- Template: {{ _self }} -->{% endif %}
	{% endblock %}
	{% block main %}
		<header class="grid grid-cols-12 gap-20 items-top *:text-balance">
			<h1 class="col-span-3">Mister<sup>©</sup></h1>
			<p class="col-span-6 text-center">
				Shaping products, services and the future of your brand
			</p>
			<p class="col-span-3 text-right">
				<a href="/about">About</a>
			</p>
		</header>
		<main class="flex grow">
			<section x-data="mediaGallery" class="relative flex grow">
				<div
					x-ref="container"
					class="flex -mx-20 overflow-x-scroll min-w-screen no-scrollbar"
				>
					<div class="flex mx-20">
						<div data-item class="flex h-full aspect-640/425">
							<div class="w-full h-full bg-[orange]"></div>
						</div>
						<div data-item class="flex h-full aspect-640/425">
							<div class="w-full h-full bg-[purple]"></div>
						</div>
						<div data-item class="flex h-full aspect-640/425">
							<div class="w-full h-full bg-[teal]"></div>
						</div>
						<div data-item class="h-full aspect-640/425">
							<div class="w-full h-full bg-slate-300"></div>
						</div>
					</div>
				</div>
				<div x-cloak class="absolute inset-y-0 flex items-center left-20">
					<p>
						<span x-text="currentItem"></span>—<span x-text="totalItems"
						></span>
					</p>
				</div>
			</section>
		</main>
		<footer class="grid grid-cols-12 gap-20 items-end *:text-balance">
			<p class="col-span-3">
				<a href="#">Credentials</a>
			</p>
			<p class="col-span-6 text-center">
				184 Websites, 156 Logos, 25 Apps, 48 Brand Identities, 5 Books and 7
				Totebags
			</p>
			<p class="col-span-3 text-right">
				<a href="#">hello@mister.studio</a>
			</p>
		</footer>
    {% endblock %}
{% endembed %}
